/*canvas {
    border: 2px solid red;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 93vh;
    width: 45vw;
  }*/

.globe-container {
	height: 92vh;
	width: 100vw;
  overflow: hidden;
  /* border: 2px solid red; */
  margin-top: 10vh;
  z-index: -10;
}


